@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  &__top {
    background-color: #eef1f3;
    height: 100px;
  }
  &__inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
  }
  &__logo {
    padding-left: 7px;
    align-items: center;
    display: flex;
  }
  &__info {
    display: flex;
    align-items: center;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__btn {
    font-size: 14px;
    font-weight: 400px;
    line-height: 26px;
    color: #fff;
    background-color: $blue;
    border: none;
    padding: 5px 20px;
    border-radius: 18px;
    margin-right: 50px;
    cursor: pointer;
    outline: none;
    &:hover {
      color: $blue;
      background-color: #fff;
    }
  }
  &__item {
    margin-right: 35px;
    position: relative;
    min-height: 80px;
    margin-top: 43px;
    // cursor: pointer;
    z-index: 2;
    transition: all 0.4s;
    .lnr-alarm,
    .lnr-envelope,
    .lnr-cart {
      font-size: 30px;
      line-height: 38px;
      color: #7e8fa1;
    }
  }
  &__info-user {
    &__inner {
      display: flex;
      z-index: 2;
      height: 90px;
      margin-top: 25px;
    }

    &-img {
      width: 50px;
      height: 50px;
      margin-right: 25px;
    }

    &__content {
      display: flex;
      flex-direction: column;
    }
  }
  &__info-user-name {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #333333;
  }
  &__info-user-money {
    color: $blue;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
  }
}
.user__info-burger {
  display: none;
}
.num {
  font-size: 14px;
  font-weight: 500;
  width: 26px;
  height: 26px;
  position: absolute;
  text-align: center;
  padding: 6px;
  border-radius: 50%;
  color: #fff;
  &:last-child {
    margin-right: 50px;
  }
}

.num__alert {
  background-color: #ff6a6c;
  top: -15px;
  left: 12px;
}
.num__message {
  background-color: #62d03b;
  top: -12px;
  left: 19px;
}
.num__cart {
  background-color: $blue;
  top: -12px;
  left: 22px;
}

.user__content-wrapper {
  position: relative;
  display: flex;
}
.user__info-inner {
  display: flex;
}
// Alarm notification-header menu
.alarm__not {
  display: none;
  position: absolute;
  width: 370px;
}
.header__item.alarm:hover {
  .alarm__not {
    display: block;
  }
}

.alarm__not-inner {
  max-width: 370px;
  width: 100%;
  padding: 25px 25px 15px 25px;
  background-color: #fff;
  border-top: 1px solid rgb(6, 116, 236);
  position: relative;
  z-index: 1;
  top: 30px;
  left: -30px;
  &::before {
    content: url(../img/icons/not_arrow-up.png);
    position: absolute;
    top: -32px;
    left: 10px;
  }
}
.alarm__not-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.alarm__not-title {
  font-size: 18px;
  line-height: 28px;
  color: #000;
}
.alarm__not-title-link {
  font-size: 15px;
  line-height: 28px;
  color: #0674ec;
}

.alarm__not-item {
  display: flex;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e8ebf0;
  align-items: center;
}
.alarm__not-item-img {
  width: 40px;
  height: 40px;

  img {
  }
}
.alarm__not-item-cont {
  font-size: 16px;
  line-height: 1.25;
  color: #333333;
  font-weight: 500;
  padding-left: 13px;
  padding-right: 13px;
  span {
    font-size: 15px;
    line-height: 20px;
    color: #747a86;
  }
  a {
    font-size: 15px;
    line-height: 22px;
    color: #0674ec;
  }
}
.alarm__not-item-time {
  display: block;
}
.alarm__not-item-icon {
  font-size: 15px;
  line-height: 28px;

  .lnr-heart {
    color: #0674ec;
    background-color: #e6f1fd;
    padding: 9px 8px;
    border-radius: 50%;
  }
  .lnr-cart {
    color: #ff6a6c;
    padding: 9px 8px;
    border-radius: 50%;
    background-color: #fff0f0;
  }
}
// end alarm nitification
// satrt message notification
.message__not {
  position: absolute;
  display: none;

  &-inner {
    width: 370px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-top: 1px solid rgb(6, 116, 236);
    position: relative;
    padding: 25px 0px 15px 0px;
    top: 30px;
    left: -310px;
    z-index: 1;
    // padding: 25px 25px 15px 25px;
    &::before {
      content: url(../img/icons/not_arrow-up.png);
      position: absolute;
      top: -32px;
      right: 10px;
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px 0 25px;
    margin-bottom: 20px;
  }
  &-title {
    font-size: 18px;
    line-height: 28px;
    color: black;
  }
  &-header-link {
    a {
      font-size: 15px;
      line-height: 28px;
      color: $blue;
    }
  }
  &-content-inner {
  }
  &-item {
    border-top: 1px solid #e8ebf0;
    display: flex;
    border-bottom: 1px solid #e8ebf0;
  }
  &-img {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 13px;
    display: flex;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      display: block;
      border-radius: 50%;
      background-color: #000;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-row {
    display: flex;
    justify-content: space-between;
  }
  &-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #333333;
    padding-top: 20px;
    display: inline-block;
    position: relative;
    padding-right: 30px;
    &::after {
      position: absolute;
      content: "\e818";
      font-family: "Linearicons-Free";
      font-size: 15px;
      color: $blue;
      top: 20px;
      right: 0;
    }
  }
  &-time {
    font-size: 14px;
    line-height: 28px;
    color: $blue;
    padding-right: 25px;
    padding-top: 20px;
    span {
      font-size: 15px;
      line-height: 26px;
      color: #747a86;
    }
  }
  &-text {
    font-size: 15px;
    color: $grey;
    padding: 0px 25px 20px 0px;
  }
}
.header__item.message:hover {
  .message__not {
    display: block;
  }
}
// end message notification
// satrt cart notification
.cart__not {
  display: none;
  position: absolute;
  &-inner {
    width: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-top: 1px solid rgb(6, 116, 236);
    position: relative;
    top: 30px;
    left: -340px;
    z-index: 1;
    &::before {
      content: url(../img/icons/not_arrow-up.png);
      position: absolute;
      top: -32px;
      right: 10px;
    }
  }
  &-item {
    display: flex;
    border-bottom: 1px solid #e8ebf0;
  }
  &-img {
    margin-top: 27px;
    margin-left: 24px;
    width: 80px;
    height: 70px;
    img {
      width: 80px;
      height: 70px;
      background-color: #828282;
      display: block;
    }
  }
  &-content-inner {
    display: flex;
    padding: 27px 25px 25px 15px;
  }
  &-content-colum {
    display: flex;
    flex-direction: column;
  }
  &-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    max-width: 210px;
    display: inline-block;
    margin-right: 15px;
  }
  &-type {
    color: #7347c1;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    align-items: center;
    img {
      width: 16px;
      height: 16px;
      border-radius: 50px;
      margin-right: 5px;
      background-color: #000;
    }
  }
  &-content-colum-two {
    align-items: center;
  }
  &-recycle {
    margin-bottom: 10px;
    button {
      background-color: #f1ecf9;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;
      span {
        color: #818c98;
        font-size: 15px;
        line-height: 28px;
        text-align: center;
      }
    }
  }
  &-price {
    span {
      font-size: 16px;
      line-height: 30px;
      font-weight: 500;
      color: #0674ec;
      background-color: #e6f1fd;
      padding: 7px 11px;
      border-radius: 15px;
    }
  }
  &-total {
    font-size: 18px;
    line-height: 80px;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: flex-end;
    padding-left: 27px;
    padding-right: 25px;
    span {
      padding-left: 30px;
    }
  }
  &-btn {
    width: 100%;
    font-size: 15px;
    color: #fefefe;
    display: flex;
    border-radius: 0 0 0 3px;
    .cart__not-btn-cart {
      width: 50%;
      background-color: #7347c1;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cart__not-btn-checkout {
      width: 50%;
      background-color: #0674ec;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.header__item.cart:hover {
  .cart__not {
    display: block;
  }
}

// end cart notification
// satrt user menu notification
.user__menu {
  display: none;
  &-inner {
    width: 270px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-top: 1px solid rgb(6, 116, 236);
    position: absolute;
    top: 110px;
    left: 100px;
    z-index: 1;
    &::before {
      content: url(../img/icons/not_arrow-up.png);
      position: absolute;
      top: -32px;
      right: 10px;
    }
  }
  &-list {
    padding: 34px 20px;
    li {
      position: relative;

      &:hover {
        background-color: $blue;

        width: 230px;
        height: 44px;
        border-radius: 2px;
        a,
        span {
          color: #fff;
        }
      }
    }
    a {
      font-size: 15px;
      line-height: 44px;
      color: $grey;
      span {
        margin-right: 15px;
        padding-left: 10px;
        font-size: 15px;
        color: #54667a;
      }
    }
  }
}
.header__info-user__inner:hover {
  .user__menu {
    display: block;
  }
}
// end user menu notification
// Start header menu
.header__footer {
  &-inner {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
  }
}

.header__burger {
  display: none;
}
.menu {
  margin-top: 20px;
}
.menu__list {
  display: inline-block;
  margin-right: 35px;
  a {
    font-weight: 500;
    font-size: 15px;
    line-height: 42px;
    text-transform: uppercase;
    &:focus,
    &:hover {
      color: $blue;
    }
  }
}
// Start sum menu for main menu
.wordpress {
  height: 60px;

  &__sub {
    display: none;
  }
  &:hover {
    .wordpress__sub {
      display: block;
    }
  }
}
.home {
  height: 60px;

  &__sub {
    display: none;
  }
  &:hover {
    .home__sub {
      display: block;
    }
  }
}
.allproducts {
  height: 60px;

  &__sub {
    display: none;
  }
  &:hover {
    .allproducts__sub {
      display: block;
    }
  }
}
.submenu {
  position: absolute;
  max-width: 270px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  z-index: 2;
  padding: 35px 20px 35px 20px;
  top: 180px;
  border-top: 1px solid $blue;
  li {
    padding-left: 10px;
    margin-bottom: 12px;
    &:hover {
      background-color: $blue;
      width: 230;
      height: 44px;
      border-radius: 2px;
      a {
        color: #fff;
      }
    }
    a {
      font-size: 15px;
      line-height: 44px;
      color: #54667a;
      text-transform: none;
    }
  }
}
.pages {
  &__sub {
    position: absolute;
    width: 1140px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    z-index: 2;
    padding: 20px 20px 35px 20px;
    top: 180px;
    left: 0;
    border-top: 1px solid $blue;
  }
  &__sub-inner {
    display: flex;
    justify-content: space-between;
  }
}
.martplace__pages {
}
.pages__sub-title {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
  color: #000;
}
.martplace__pages-inner {
  display: flex;
  justify-content: space-between;
  width: 440px;
  border-top: 1px solid $grey;
  padding-top: 12px;
}
.martplace__colum {
  li {
    padding-left: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    &:hover {
      background-color: $blue;
      width: 230;
      height: 40px;
      border-radius: 2px;
      a {
        color: #fff;
      }
    }
  }
  a {
    font-size: 15px;
    line-height: 40px;
    color: #54667a;
    text-transform: none;
  }
}
.dashboard {
}
.dasboard__pages {
  border-top: 1px solid $grey;
  padding-top: 12px;
  li {
    padding-left: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    &:hover {
      background-color: $blue;
      width: 230;
      height: 40px;
      border-radius: 2px;
      a {
        color: #fff;
      }
    }
  }
  a {
    font-size: 15px;
    line-height: 40px;
    color: #54667a;
    text-transform: none;
  }
}
.otherpages {
}
.otherpages-inner {
  display: flex;
  width: 415px;
  justify-content: space-between;
  border-top: 1px solid $grey;
  padding-top: 12px;
}
.otherpages__colum {
  li {
    padding-left: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    &:hover {
      background-color: $blue;
      width: 230;
      height: 40px;
      border-radius: 2px;
      a {
        color: #fff;
      }
    }
  }
  a {
    font-size: 15px;
    line-height: 40px;
    color: #54667a;
    text-transform: none;
  }
}

.pages {
  height: 60px;

  &__sub {
    display: none;
  }
  &:hover {
    .pages__sub {
      display: block;
    }
  }
}

// End sum menu for main menu

.header__search {
  position: relative;
  input {
    width: 360px;
    border-radius: 23px;
    height: 47px;
    border: 1px solid rgb(217, 223, 229);
    padding-left: 23px;
    padding-right: 90px;
    outline: none;
    &::placeholder {
      color: #898f96;
      font-size: 15px;
      line-height: 30px;
    }
  }
}
.search_btn {
  position: absolute;
  background-color: $blue;
  top: 0;
  right: 0;
  height: 47px;
  border-radius: 23px;
  border: none;
  cursor: pointer;
  outline: none;

  img {
    padding: 15px 28px;
  }
}
/* End header */

/* Start Header content section */

.header__content {
  background-color: #1136bf;
  background-image: -moz-linear-gradient(
    180deg,
    rgb(0, 48, 222) 0%,
    rgb(23, 69, 237) 54%,
    rgb(46, 90, 251) 100%
  );
  background-image: -webkit-linear-gradient(
    180deg,
    rgb(0, 48, 222) 0%,
    rgb(23, 69, 237) 54%,
    rgb(46, 90, 251) 100%
  );
  background-image: -ms-linear-gradient(
    180deg,
    rgb(0, 48, 222) 0%,
    rgb(23, 69, 237) 54%,
    rgb(46, 90, 251) 100%
  );
  opacity: 0.8;
  &-inner {
    padding-bottom: 236px;
    position: relative;
  }
  &-firsttitle {
    color: #f3f3f8;
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    padding-top: 184px;
    margin-bottom: 28px;
  }
  &-secondtitle {
    color: #f3f3f8;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
  }
  &-subtitle {
    font-size: 20px;
    line-height: 72px;
    font-weight: 400;
    color: #f3f3f8;
    text-align: center;
    margin-bottom: 67px;
  }
  &-btn__inner {
    display: flex;
    justify-content: center;
  }
  &-btn {
    font-size: 20px;
    color: #fff;
    padding: 19px 30px;
    border: 1px solid #fff;
    border-radius: 27.5px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 30px;
    text-align: center;
    display: inline-block;
    outline: none;
    &:hover {
      color: $blue;
      background-color: #fff;
    }
  }
  &-search {
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    padding: 38px 41px;
    background-color: #fff;
    border-radius: 6px;

    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      width: 1110px;
      height: 135px;
      border-radius: 6px;
      background-color: rgb(255, 255, 255);
      opacity: 0.502;
      top: -10px;
      left: 15px;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      width: 1080px;
      height: 135px;
      border-radius: 6px;
      background-color: rgb(255, 255, 255);
      opacity: 0.502;
      z-index: -1;
      top: -20px;
      left: 30px;
    }
    input {
      width: 600px;
      height: 55px;
      padding-left: 30px;
      padding-right: 20px;
      outline: none;

      &::placeholder {
        color: #676767;
        font-size: 16px;
        font-weight: 400;
        line-height: 42px;
      }
    }
    select {
      width: 195px;
      height: 55px;
      margin-right: 30px;
      margin-left: -4px;
      padding-left: 20px;
      outline: none;
      border-left: none;
      appearance: none;
      position: relative;
      background-image: url(../img/icons/down.svg);
      background-repeat: no-repeat;
      background-position: right 20px top 50%;
      background-size: 13px;

      option {
        display: inline-block;
        padding: 23px;
        border: none;
        outline: none;
      }
    }
    button {
      font-size: 16px;
      padding: 23px 66px;
      background-color: #1136bf;
      border: none;
      color: #fff;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      outline: none;
    }
  }
}

/* end Header content section */
/* start info section */
.info__inner {
}
.info__items {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
  padding-bottom: 120px;
}

.info__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 35px 50px 35px;
  &:hover {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }

  &-img {
    width: 113px;
    height: 120px;
    display: block;
    margin-bottom: 40px;
  }
  &-title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-bottom: 30px;
  }
  &-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    text-align: center;
  }
}
/* end info section */

/* start weekly section */
.weekly {
  background-color: #eff1f5;
  padding-bottom: 120px;
}
.weekly__title {
  padding-top: 120px;
  &-inner {
    position: relative;
  }
  &-name {
    font-weight: 500;
    font-size: 30px;
    line-height: 28px;
    background-color: #fff;
    padding: 42px 0 45px 30px;
  }
}

.slick-slider {
  position: static;
}
.slick-btn.slick-next {
  position: absolute;
  background-color: #7347c1;
  top: 35px;
  right: 30px;
  z-index: 5;
  padding: 15px 25px;
  border-top-right-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
  width: 55px;
  border: none;
  cursor: pointer;
  outline: none;
}
.slick-btn.slick-prev {
  position: absolute;
  background-color: #7347c1;
  top: 35px;
  right: 85px;
  z-index: 5;
  padding: 15px 25px;
  border-top-left-radius: 22.5px;
  border-bottom-left-radius: 22.5px;
  width: 55px;
  border: none;
  cursor: pointer;
  outline: none;
}
.weekly__product {
  margin-top: 50px;

  &-item {
  }
  &-item-inner {
    display: flex;
    background-color: #fff;
  }
  &-img {
    width: 555px;
    height: 450px;
    margin-right: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .product__btn {
      opacity: 0;
      position: absolute;
      top: 190px;
      left: 130px;
      transition: all 0.3s;
      z-index: 25;
      .mi__btn {
        border: 1px solid #f4f4f4;
        border-radius: 22.5px;
        font-size: 15px;
        background: transparent;
        color: #fff;
        padding: 15px 30px;
        cursor: pointer;
        outline: none;
        margin-right: 10px;
        transition: all 0.3s;
        &:hover {
          color: #000;
          background-color: #fff;
        }
      }
      .ld__btn {
        padding: 15px 30px;
        cursor: pointer;
        color: #0674ec;
        background-color: #fff;
        border-radius: 22.5px;
        font-size: 15px;
        border: none;
        outline: none;
        transition: all 0.3s;
        &:hover {
          background-color: #0674ec;
          color: #fff;
        }
      }
    }

    img {
      display: block;
    }
    &:hover {
      img {
        opacity: 0;
      }
      .product__btn {
        opacity: 1;
      }
    }
  }
  &-box {
    max-width: 487px;
    width: 100%;
    padding-bottom: 10px;
  }
  &-title {
    font-size: 24px;
    font-weight: 500;
    padding-top: 50px;
  }
  &-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  &-info-img {
    margin-right: 20px;
    display: inline-flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  &-info-type {
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    color: #7347c1;
    display: inline-flex;
    align-items: center;
    img {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  &-info-desc {
    margin-top: 35px;
    padding-bottom: 15px;
  }
  &-info-desc-teg {
    font-weight: 500;
    font-size: 15px;
    color: #868c96;
    margin-top: 40px;
    padding-bottom: 10px;
    a {
      background-color: #f1f3f6;
      padding: 10px 15px;
      border-radius: 14px;
      margin-top: 7px;
    }
  }
  &-info-status {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    padding-top: 25px;
    align-items: center;
  }
  &-info-status-wrapper {
    display: flex;
    align-items: center;
  }
  &-info-price {
    font-size: 15px;
    color: #fff;
    background-color: #1136bf;
    padding: 10px 17px;
    border-radius: 16px;
    margin-right: 20px;
  }
  &-info-like {
    a {
      font-size: 15px;
      font-weight: 500;
      color: #555555;
      display: inline-flex;
      align-items: center;
      margin-right: 20px;
      span {
        margin-right: 10px;
        font-size: 15px;
        color: #7347c1;
      }
    }
  }
  &-info-cart {
    a {
      font-size: 15px;
      font-weight: 500;
      color: #555555;
      display: inline-flex;
      align-items: center;
      color: $blue;
      span {
        margin-right: 10px;
        font-size: 15px;
      }
    }
  }
  &-info-rate {
  }
}
/* end weekly section */

/* start newproducts section */
.newproducts {
  background-color: #f6f7fb;
  padding-bottom: 120px;
  &__inner {
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
  &__btn {
    height: 95px;
    background-color: #fff;
    padding-left: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    margin-bottom: 50px;
    button {
      font-size: 15px;
      line-height: 10px;
      font-weight: 400;
      cursor: pointer;
      background-color: #f1f3f6;
      border: none;
      padding: 10px 20px;
      text-align: center;
      border-radius: 16px;
      color: #747b86;
      margin-right: 10px;
      outline: none;
      &:focus {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}
.section__filter {
  position: absolute;
  top: 47px;
  right: 60px;
  &::after {
    content: "";
    background-image: url(../img/icons/filter_dots.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    right: -25px;
    width: 5px;
    height: 20px;
    position: absolute;
  }
  .filter__menu-main {
    display: none;
    position: absolute;
    width: 183px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    padding: 25px 0 25px 28px;
    top: 40px;
    left: -65px;
    z-index: 2;
    &:after {
      position: absolute;
      content: "";
      top: -13px;
      right: 20px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 14px solid #fff;
    }
    li {
    }
    a {
      font-size: 15px;
      line-height: 28px;
      color: #747b86;
      &:hover {
        color: $blue;
      }
    }
  }
}
.section__filter {
  height: 50px;
}
.section__filter:hover {
  .filter__menu-main {
    display: block;
  }
}
.newproduct__item {
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-child(3n + 3) {
    margin-right: 0;
  }
}
.main__btn {
  display: flex;
  justify-content: center;

  button {
    text-align: center;
    color: #fff;
    padding: 20px 35px;
    background-color: $blue;
    border: none;
    outline: none;
    border-radius: 27.5px;
    margin-top: 57px;
    cursor: pointer;
  }
}

// start followers
.followers {
  background-color: #eff1f5;
  padding-bottom: 120px;
  &__product-inner {
    margin-top: 50px;
  }
  &__product-items {
    display: flex;
  }
  &__product-item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
// end followers
// start sales section
.sales {
  background-color: #212225;
  &__inner {
    display: flex;
    padding-top: 98px;
    padding-bottom: 98px;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
    &-pic {
      line-height: 36px;
      font-size: 48px;
      .lnr-briefcase {
        color: #feb71d;
      }
      .lnr-cloud-download {
        color: #58c9e9;
      }
      .lnr-smile {
        color: #77de51;
      }
      .lnr-users {
        color: #ff6a6d;
      }
    }
    &-num {
      font-size: 36px;
      margin-top: 50px;
    }
    &-num1 {
      color: #feb71d;
    }
    &-num2 {
      color: #58c9e9;
    }
    &-num3 {
      color: #77de51;
    }
    &-num4 {
      color: #ff6a6d;
    }
    &-title {
      color: #fff;
      font-size: 18px;
      line-height: 36px;
      margin-top: 20px;
    }
  }
}
/* end sales section */
/* start martplace section */

.martplace {
  padding-bottom: 120px;
  &__row {
    display: flex;
    &:nth-child(2) {
      margin-top: 30px;
    }
  }

  &__item {
    max-width: 360px;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 50px 30px 60px 35px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-right: 30px;
    &:nth-child(3n + 3) {
      margin-right: 0px;
    }

    &-num {
      position: absolute;
      top: 34px;
      left: 20px;
      color: rgba(92, 135, 248, 0.2);
      line-height: 0.15;
      font-size: 48px;
    }
    &-pic {
      font-size: 60px;
      margin-bottom: 50px;
      .lnr-license {
        color: $blue;
      }
      .lnr-magic-wand {
        color: #7f4ec2;
      }
      .lnr-lock {
        color: #77de51;
      }
      .lnr-chart-bars {
        color: #feb71d;
      }
      .lnr-leaf {
        color: #58c9e9;
      }
      .lnr-phone {
        color: #ff6a6d;
      }
    }
    &-title {
      font-size: 24px;
      color: #000;
    }
    &-text {
      margin-top: 30px;
    }
  }
}
/* end martplace section */
// start choose section

.choose {
  &__inner {
    display: flex;
    justify-content: center;
  }
  &__item-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 190px;
  }
  &__item1-wrapper {
    background-color: $blue;
    background-image: url(../img/content/sell-bg.png);
  }
  &__item2-wrapper {
    background-color: #7347c1;
    background-image: url(../img/content/buy-bg.png);
  }
  &__item {
    max-width: 100%;
    text-align: center;

    &-img {
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      img {
        width: 120px;
        height: 100px;
        display: block;
      }
    }
    &-title {
      color: #fff;
      font-size: 36px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    &-text {
      font-size: 16px;
      line-height: 30px;
      color: #fff;
      margin-bottom: 50px;
    }
    &-btn {
      font-size: 16px;
      color: $blue;
      background-color: #fff;
      padding: 20px 25px;
      border-radius: 27.5px;
      border: none;
      outline: none;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: $blue;
      }
    }
  }
}
// end choose section
// feedback section
.feedback {
  padding-bottom: 120px;

  &__inner {
    display: flex;
    position: relative;
  }
  &__item {
    max-width: 555px;
    border-left: 2px solid $blue;
    padding: 50px 40px 50px 40px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-right: 30px;
  }

  &__header {
    display: flex;
    position: relative;
    &-icon {
      font-size: 60px;
      color: #e8e8e8;
      position: absolute;
      top: 5px;
      right: 3px;
    }
  }
  &__img {
    margin-right: 18px;
    margin-bottom: 28px;

    img {
      width: 80px;
      height: 80px;
    }
  }
  &__info-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
  }
  &__name {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
  }
  &__position {
    font-size: 16px;
    display: block;
    color: $grey;
  }
  &__text {
    max-width: 475px;
    line-height: 30px;
  }
}
.feedback-btn.feedback-next.slick-arrow {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
  z-index: 2;
  top: 140px;
  right: -25px;
  border: none;
  outline: none;
  cursor: pointer;
}
.feedback-btn.feedback-prev.slick-arrow {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
  z-index: 2;
  top: 140px;
  left: -25px;
  border: none;
  outline: none;
  cursor: pointer;
}
.feedback-btn.feedback-next.slick-arrow:before {
  content: "\e876";
  font-family: "Linearicons-Free";
  position: absolute;
  top: 15px;
  right: 15px;
  color: #7347c1;
}
.feedback-btn.feedback-prev.slick-arrow:before {
  content: "\e875";
  font-family: "Linearicons-Free";
  position: absolute;
  top: 16px;
  right: 17px;
  color: #7347c1;
}

// end feedback section
// start news section
.news {
  background-color: $bg;
  padding-bottom: 120px;
  &__inner {
    display: flex;
  }
  &__content-inner {
    padding: 28px 28px 0px 28px;
  }
  &__item {
    max-width: 361px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    &:last-child {
      margin-right: 0;
    }
  }
  &__img {
    img {
      width: 361px;
      height: 230px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
  &__title {
    font-size: 22px;
    color: #000;
    font-weight: 500;
    margin-bottom: 35px;
  }
  &__text {
    line-height: 30px;
    padding-bottom: 30px;
  }
  &__footer {
    display: flex;
    margin-top: auto;
    border-top: 1px solid #ececec;
    align-items: center;
    padding: 0px 28px 0px 28px;
    height: 60px;

    &-right {
      display: flex;
    }
  }
  &__date {
    font-size: 15px;
    line-height: 30px;
    color: #999999;
    position: relative;
    padding-right: 48px;

    &::after {
      content: "";
      position: absolute;
      background-color: #ececec;
      width: 1px;
      height: 42px;
      top: -7px;
      right: 0;
    }
    span {
      margin-right: 5px;
      font-size: 15px;
      color: $blue;
    }
  }
  &__comment {
    font-size: 15px;
    line-height: 30px;
    color: #999999;
    margin-left: 30px;

    span {
      margin-right: 5px;
      font-size: 15px;
    }
  }
  &__sees {
    font-size: 15px;
    line-height: 30px;
    color: #999999;
    margin-left: 30px;
    span {
      margin-right: 6px;
      font-size: 15px;
    }
  }
}
// end news section
// start support section
.support {
  &__inner {
    display: flex;
  }
  &__item {
    position: relative;
    border-right: 1px solid #e8eaf3;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 130px;
    padding-left: 83px;
    &:last-child {
      border-right: none;
      padding-left: 130px;
      padding-right: 0;
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    img {
    }
  }
  &__text {
    font-size: 24px;
    color: #000;
  }
  &__text-span1 {
    color: $blue;
  }
  &__text-span2 {
    color: #7347c1;
  }
}

// end support section
// start join section
.join {
  padding: 110px 0 110px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__text {
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }
  &__sub-text {
    font-size: 18px;
    color: #e7e7e7;
    text-align: center;
    margin-bottom: 50px;
  }
  &__btn {
    button {
      background-color: #fff;
      color: $blue;
      font-size: 16px;
      &:hover {
        color: #fff;
        background-color: $blue;
      }
    }
  }
}
// end join section
// start new product page
.new__product {
  &-page-inner {
    display: flex;
  }
}
.asside__menu-block {
  margin-right: 30px;
}
// start asside__categories
.asside__categories {
  padding-top: 30px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "\e876";
      font-family: "Linearicons-Free";
      position: absolute;
      font-size: 10px;
      top: 10px;
      left: 0;
    }
  }
  a {
    font-size: 15px;
    line-height: 36px;
    color: $grey;
    &:hover {
      color: $blue;
    }
  }
  span {
    color: #747b86;
  }
}
.asside__categories.close {
  display: none;
}
// end asside__categories
// start asside filter products block
.asside__filter-products {
  padding-top: 30px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "\e87e";
      font-family: "Linearicons-Free";
      position: absolute;
      font-size: 10px;
      top: 11px;
      left: 0;
    }
  }
  a {
    font-size: 15px;
    line-height: 36px;
    color: $grey;
    &:hover {
      color: $blue;
    }
  }
  span {
    color: #747b86;
  }
}
.asside__filter-products.close {
  display: none;
}

// end asside filter products block

// start asside price range
.price-range__content {
  form {
    padding: 20px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.irs-max,
.irs-min {
  display: none;
}
.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  display: none;
}
.irs--flat .irs-line {
  background-color: #efedf3;
  width: 202px;
  height: 6px;
  border-radius: 3px;
}
.irs--flat .irs-bar {
  background-color: #7347c1;
  height: 6px;
}

.irs--flat .irs-handle {
  border-radius: 50px;
  border: 4px solid #0674ec;
  width: 18px;
  height: 18px;
  background-color: #fff;
  top: 18px;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs--flat .irs-handle:hover > i:first-child {
  background-color: transparent;
}
.irs-from,
.irs-single,
.irs-to {
  top: 60px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: #7347c1;
  font-size: 15px;
  line-height: 32px;
  background-color: #f1ecf9;
  width: 80px;
  height: 32px;
  text-align: center;
  border-radius: 16px;
}

.range__btn {
  width: 171px;
  height: 44px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: $blue;
  border: none;
  outline: none;
  border-radius: 27.5px;
  margin-top: 82px;
  cursor: pointer;
}

.price-range__content.close {
  display: none;
}
// end asside price range
// product block
.product__block {
  display: flex;
  flex-wrap: wrap;
}
// Product Item-list
.product__items-list {
}
.product__item-list {
  margin-bottom: 30px;
  width: 850px;
  max-width: 100%;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  display: flex;
  height: 210px;
  transition: all 0.4s;
}
.product__item-list-img {
  width: 230px;
  height: 210px;
  margin-right: 20px;
  img {
    width: 230px;
    height: 210px;
    display: block;
  }
}
.product__item-list-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  width: 617px;
}
.product__item-list-colum1 {
  max-width: 260px;
  padding: 0px 30px 0px 20px;
  border-right: 1px solid #ececec;
}
.product__item-list-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
}
.product__item-list-desc {
  font-size: 16px;
  line-height: 30px;
  // margin-bottom: 15px;
}
.product__item-list-type {
  font-size: 15px;
  line-height: 30px;
  color: #7347c1;
  display: flex;
  align-items: center;
  img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-color: #000;
    border-radius: 50%;
  }
}
.product__item-list-colum2 {
  max-width: 208px;
  padding: 13px 20px 13px 20px;
  border-right: 1px solid #ececec;
}
.product__item-list-avatar {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: block;
    background-color: #000;
    margin-right: 8px;
  }
}
.product__item-list-like {
  font-size: 15px;
  line-height: 30px;
  color: #6f7d8d;
  span {
    color: #7f4ec2;
    font-size: 15px;
    line-height: 30px;
    margin-right: 7px;
  }
}
.product__item-list-comments {
  font-size: 15px;
  line-height: 30px;
  color: #6f7d8d;
  // margin-bottom: 15px;
  span {
    color: #7f4ec2;
    font-size: 15px;
    line-height: 30px;
    margin-right: 7px;
  }
}
.rate__item-list {
  display: flex;
  align-items: center;
  span {
    padding-left: 10px;
    font-size: 15px;
    line-height: 30px;
    color: #6f7d8d;
  }
}
.product__item-list-rate {
  margin-left: -7px;
}
.product__item-list-colum3 {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.product__item-list-price {
  text-align: center;
  margin-bottom: 30px;
  span {
    color: #0674ec;
    font-size: 15px;
    line-height: 30px;
    background-color: #e6f1fd;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    padding: 8px 20px;
  }
}
.product__item-list-cart {
  font-size: 15px;
  color: #0674ec;
  line-height: 30px;
  span {
    margin-right: 10px;
  }
}
// End Product Item-list

// Start product item list transforme
.product__items-list {
  .product__item-list-colum1 {
    .product__item-list-avatar {
      display: none;
    }
  }
}
.product__items-list {
  .product__item-list-colum2 {
    .product__item-list-cart {
      display: none;
    }
  }
}
.product__items-list {
  .product__item-list-colum3 {
    .product__item-list-type {
      display: none;
    }
  }
}

.product__items-list.large {
  display: flex;
  flex-wrap: wrap;

  .product__item-list {
    max-width: 262px;
    flex-direction: column;
    margin-right: 30px;
    height: auto;
    transition: all 0.4s;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    &-img {
      margin: 0;
      width: 262px;
      height: 160px;
      img {
        width: 262px;
        height: 160px;
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 0;
    }
    &-colum1 {
      border-right: 0;
      &-title {
        margin-bottom: 17px;
      }
      .product__item-list-avatar {
        display: inline-flex;
        margin-bottom: 20px;
      }
      .product__item-list-type {
        display: none;
      }
    }
    &-desc {
      display: none;
    }
    &-colum2 {
      border-right: 0;
      padding: 0;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      max-width: 260px;
      padding-left: 20px;
      padding-right: 20px;
      align-items: center;
      border-bottom: 1px solid #ececec;
      .product__item-list-avatar {
        display: none;
      }
      .rate__item-list {
        span {
          display: none;
        }
      }
      .product__item-list-cart {
        display: inline-flex;
        align-items: center;
      }
    }
    &-like {
      display: none;
    }
    &-comments {
      display: none;
    }
    &-colum3 {
      min-width: 260px;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 15px;
      padding-bottom: 15px;
      .product__item-list-price {
        margin-bottom: 0;
      }
      .product__item-list-cart {
        display: none;
      }
      .product__item-list-type {
        display: inline-flex;
      }
    }
  }
}
// Start product item list transforme
// Start Single page asside right
.header__main-search-inner-single {
  display: block;
  padding-top: 55px;
  padding-bottom: 60px;
  .header__main-search-title {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .breadcrumbs__inner {
    padding: 0;
  }
}
.single__page {
  &-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
  }
  &-box {
  }
  .asside__right {
    &-purchase {
      width: 360px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
      margin-bottom: 30px;

      &-price {
        background-color: $blue;
        font-size: 36px;
        font-weight: 500;
        line-height: 30px;
        color: #fff;
        text-align: center;
        padding: 40px 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &-license {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
        border-bottom: 1px solid #ececec;

        label {
          display: inline-block;
          position: relative;
          input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
          }
          .checkmark {
            position: absolute;
            top: -16px;
            left: 0px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: solid 4px #e6e9ed;
            cursor: pointer;
          }
        }
        &-title {
          display: inline-block;
          font-size: 18px;
          line-height: 30px;
          font-weight: 500;
          margin-left: 34px;
        }
        &-text {
          display: none;
          padding-left: 39px;
          font-size: 16px;
          line-height: 30px;
          color: #555555;
        }
      }
      &-btn {
        width: 100%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;

        .purchase {
          background-color: $blue;
          color: #fff;
          cursor: pointer;
          outline: none;
          border: none;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          border-radius: 27.5px;
          padding: 19px 0px;
          margin-bottom: 30px;
        }
        .cart {
          cursor: pointer;
          outline: none;
          border: none;
          text-align: center;
          border-radius: 27.5px;
          padding: 19px 0px;
          background-color: #7347c1;
          margin-bottom: 40px;
          span {
            padding-left: 32px;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            position: relative;

            &:before {
              content: "\e82e";
              position: absolute;
              font-family: "Linearicons-Free";
              font-size: 16px;
              color: #fff;
              left: 0;
              top: 0;
            }
          }
        }
      }
    }
  }
}
.asside__right-purchase-license.multi__license {
  border-bottom: 0px;
  margin-bottom: 40px;
}
.single__license.active,
.multi__license.active {
  .asside__right-purchase-license-text {
    display: block;
  }
  .checkmark.single__checkmark,
  .checkmark.multi__checkmark {
    position: absolute;
    top: -16px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $blue;
    border: none;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      // display: none;
      left: 7px;
      top: 4px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
}
.asside__right-info {
  &-inner {
    width: 360px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 10px 30px;
    margin-bottom: 20px;
  }
  &-row {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
    padding-left: 25px;
    margin-top: 22px;
    border-bottom: 1px solid #ececec;
    position: relative;
    &:nth-child(1)::before {
      font-family: "Linearicons-Free";
      content: "\e82e";
      position: absolute;
      font-size: 16px;
      line-height: 30px;
      color: $blue;
      top: -2px;
      left: 0;
    }
    &:nth-child(2)::before {
      font-family: "Linearicons-Free";
      content: "\e813";
      position: absolute;
      font-size: 16px;
      line-height: 30px;
      color: $blue;
      top: -2px;
      left: 0;
    }
    &:nth-child(3)::before {
      font-family: "Linearicons-Free";
      content: "\e83f";
      position: absolute;
      font-size: 16px;
      line-height: 30px;
      color: $blue;
      top: -2px;
      left: 0;
    }
    span {
      font-size: 18px;
      line-height: 30px;
      color: #333333;
      font-weight: 500;
    }
  }
  &-rating {
    padding-bottom: 30px;
    padding-top: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-rate {
    span {
      font-size: 15px;
      line-height: 30px;
      color: #7e7e7e;
      padding-left: 10px;
    }
  }
}
.asside__right-product-info {
  &-inner {
    width: 360px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 0 30px;
    margin-bottom: 20px;
  }
  &-title {
    font-size: 20px;
    line-height: 30px;
    color: #000;
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid #ececec;
  }
  &-wrapper {
    padding-top: 22px;
    padding-bottom: 60px;
  }
  &-line {
    display: flex;
    position: relative;
    margin-bottom: 22px;

    font-size: 15px;
    font-weight: 500;
    color: #333333;

    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 135px;
      font-size: 15px;
      color: #555555;
      a {
        color: $blue;
      }
    }
  }
}
.asside__right-author {
  &-inner {
    width: 360px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  }

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
    img {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: black;
    }
  }
  &-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
    text-align: center;
  }
  &-signed {
    font-size: 15px;
    line-height: 30px;
    color: #7e7e7e;
    text-align: center;
    margin-bottom: 25px;
  }
  .social__icons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  &-btn {
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    .author__prifile {
      background-color: $blue;
      color: #fff;
      width: 140px;
      border-radius: 22px;
      margin-right: 20px;
      padding: 15px 0px;
      cursor: pointer;
      outline: none;
      border: none;
    }
    .author__message {
      background-color: #7347c1;
      color: #fff;
      width: 140px;
      border-radius: 22px;
      padding: 15px 0px;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
  .asside__right-product-info-title {
    padding: 30px 0 20px 0;
  }
}
// End Single page asside right
// Start single page content
.single__page {
  &-item {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    
    margin-bottom: 28px;
    &-img {
      width: 750px;
      height: 430px;
      img {
        width: 750px;
        height: 430px;
        display: block;
        background-color: $grey;
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 0;
      .live__btn{
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        border-radius:25px;
        background-color: $blue;
        cursor: pointer;
        outline: none;
        border: none;
        padding: 20px 50px;
        margin-right: 30px;
      }
      .prev__btn{
        color: #7347c1;
        font-weight: 500;
        font-size: 15px;
        border-radius:25px;
        background-color: $blue;
           background-color: rgb(255, 255, 255);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
        border: none;
        
        text-align: center;
        padding: 20px 25px 20px 50px;
        position: relative;

        &::before{
          position: absolute;
          content: "\e813";
          font-family: 'Linearicons-Free';
          font-size: 16px;
          left: 25px;
          top:20px;
          color: #7347c1;
        
        }
      }
    }
    &-social {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      margin-right: 30px;
      border-top:  1px solid #ececec;
      padding: 35px 0px 40px 0px;
      .share__btn {
        font-size: 15px;
        color: #000;
        padding: 20px 33px 20px 55px;
        background-color: #fff;
        border-radius: 25px;
        margin-right: 20px;
        position: relative;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

        
        &:before {
          content: url(../img/icons/share.png);
          position: absolute;
          left: 25px;
          top: 17px;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
      .social__icons-list {
        display: inline-block;
      }
      li {
      }
    }
  }
}
.single__page-tab-inner {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  width: 750px;

  .tabs {
    display: flex;
    .tab {
      font-size: 17px;
      color: #000;
      border-bottom: 1px solid #e8e8e8;
      cursor: pointer;

      &.active {
        border-bottom: none;
        color: $blue;
        border-top: 3px solid $blue;
      }
      span {
        font-weight: 500;
      }
      padding: 30px;
      & + .tab {
        border-left: 1px solid #e8e8e8;
      }
    }
  }
}
.tab_content {
  margin-bottom: 120px;
}
.tab-item {
  padding: 80px 30px;
  display: none;
  &.active-tab {
    display: block;
  }
  &-title {
    font-size: 28px;
    color: #000;
    margin-bottom: 35px;
  }
  &-text {
    font-size: 16px;
    color: #555555;
    margin-bottom: 70px;
  }
  &-subtitle {
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
  }
  &-list {
    margin-bottom: 70px;
    
    
    li {
      margin-bottom: 20px;
     
    }
  }
  &-img {
    width: 690px;
    height: 1000px;
    img {
      width: 690px;
      height: 1000px;
      background-color: $grey;
      display: block;
    }
  }
}
ol.tab-item-list{
  padding: 0;
  li{
    list-style-type: decimal;
    list-style-position: inside;
    
    
  }
}
ul.tab-item-list{
  li{

  }
}
// End single page content

@import "media";
